.main{
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 9rem 8rem;
    @media (max-width: 575.98px) { 
        padding: 0;
        flex-direction: column;
        .sideBar{
            margin-top: 2rem;
            width: 100% !important;
            padding-right: 1rem;
            margin-left: 1rem;
        }
       .postDetails  {
        padding-top: 9rem;
        width: 100% !important;
        padding-left: 1rem;
        padding-right: 1rem;
        // display: none;
        h1{
            font-size: 30px !important;
        }
       }
    }
    .postDetails{
        width: 70%;
        h1{
            font-size: 50px;
            margin-bottom: 1rem;
        }
        img{
            height: 419px;
            width: 100%;
        }
        .metadata{
          color: #8E8686 !important; 
          font-size: 13px; 
       

        }
.ctaContainer{
    display: flex;

    .cardContainer{
        width: 100% !important;
    }
    // display: inline-block;


    button {
        display: flex;
        align-items: center !important;
        padding: 14px 20px;
        border: #0089CF solid 2px;
        background: transparent ;
        border-radius: 3px;
        margin-right: 10px;
        color: #0089CF;
        justify-content: center;
        @media (max-width: 575.98px) {
            padding: 5px;
         }
 
        .icone{
            font-size: 1.2rem;
            margin-right: 1rem;
        }
    }
}

h2{
    font-size: 20px;
    margin: 2rem 0rem;
}
.textContent{
    font-size: 16px;
    line-height: 22px;
    br{
        margin-top: 5rem;
    }
}

.imgCaroussel{
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    height: 220px;
    @media (max-width: 575.98px) { 
        height: 100px;
    }
    .alice-carousel{
        padding: 0 !important;
        margin: 0 !important;
    }
       img {
        width: 40%;
        height: 100%;
        margin-right: .5rem;
       }
}
    }


.sideBar{
    @media (max-width: 575.98px) {
    padding: 0 !important;
    width: 100% !important;
     }
    width: 28%;
    height: auto;
    .pub{
        height: 500px;
        width: 100%;
        background-color: #0089CF;
        border: #0089CF solid 1px;
    }
    .cardContainer{
        height: auto;
        width: 100%;
        padding: 2rem 0rem;

    }
}
}