.main{

    display: flex;

  
    .imageContainer{
        width: 40%;
        height: 100%;
        background :url("./../../../public/colloque.jpg");
        background-size: contain;
        background-position: center 80%;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        color: white ;
        padding: 0rem 2rem;
        padding-top: 2rem;
        min-height: 100vh;
        h1{
            font-weight: 900;
            color: white;
            width: 70%;
        }
        p{
            text-align: center;
            width: 75%;
        }
    }
    .formContainer{
        width: 50%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;            
        padding: 0rem 2.5rem  !important;
        padding-top: 7rem !important;
        h2{
            font-size: 1.3rem;
            margin: 0rem;
        }

        form{
            width: 100%;
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            overflow: hidden;
            padding-left: 0;
            
            .inputFlexer{
                @media (max-width: 575.98px) { 
                 div{
                    width: 45% !important;
                 }
                }
                display: flex;
                width: 95%;
                justify-content: space-between;
                margin: .5rem 0rem;
                    div{
                        width: 47%;
                        display: flex;
                        flex-direction: column;
                        input, select{
                            width: 100%;
                            padding: .8rem;
                            background-color: #f3f4f6;
                            border: none;
                        }
                    }
                
            }
            .freeInput{
                margin: .2rem 0rem;
                width: 95%;
                input{
                    width: 100%;
                    padding: .8rem;
                    background-color: #f3f4f6;
                    border: none;
                    &:focus{
                        outline: none !important;
                    }
                }
                textarea{
                    padding: .8rem;
                    margin-top: 1rem;
                    width: 100%;
                    min-height: 10rem;
                    background-color: #f3f4f6;
                    border: none;
                }
            }
        }

        button{
            padding: 1rem;
            background-color: #8E1F71;
            border: none;
            color: white;
            font-size: 1rem;
            cursor: pointer;
            margin-top: .3rem;
            width: 98.5%;
            display: flex;
            align-items: center;
            justify-content: center;
            @media (max-width: 575.98px) {
                width: 100%;
            }

            
        }

        button[disabled] {
            background-color: lightgray;
            color: gray;
            cursor: not-allowed;
            opacity: 0.7;
          }
    }
    @media (max-width: 575.98px) { 
        width: auto !important;
        flex-direction: column;
        .imageContainer{
            padding: 0 !important;
            min-height: 40vh !important;
            padding-top: 15rem !important;
            width: auto !important;
            h1{
                width: 90% !important;
            }

        }
        .formContainer{
            padding: 0rem 0rem!important;
            width: auto !important;
            padding: 2rem  1rem!important;
            .freeInput{
                input{
                    width: 100% !important;
                }
            }
            textarea{
                width: 100% !important;
            }
            form{
               padding: 0rem;
            }
        }
    }

}
.errorMessage{
    color: red;
    font-size: 10px;
    margin-left: 10px;
}
.inputError{
    border: red solid 1px !important;
    outline: red solid 1px !important;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

    .Dnone{
        display: none !important;
    }

  