.main{


    .bannerContainer{
        @media only screen and (min-width: 768px) and (max-width: 991px) {
            height: 30vh;
        }
        background-color: #0089cf;
        height: 12vh;
        display: flex;
        width: 100%;
        align-items: center;
        margin-top: 9rem;
        color: white;
        padding: 0rem 6rem !important;
        justify-content: space-between;

          @media (max-width: 575.98px) {
            padding: 1rem !important;
            width: 91% !important;
            flex-direction: column;
            justify-content: center;
            h1{
                font-size: .9rem !important;
                width: 100% !important;
            }
            p{
                font-size: 10px !important;
                width: 100% !important;
                margin-top: 40px;
            }
          }
        h1{
            margin: 0;
            font-size: 2rem;
            text-align: left !important;
            width: 60%;
        }
        p{
            width: 30%;
            margin: 0;
            text-align: center;
            font-size: 18px;
            display: flex;
            align-items: center;
            a{
                padding: 5px 10px;
                background-color: #8E1F71;
                color: white;
                display: flex;
                align-items: center;
                margin-left: 5px;
                .icone{
                    margin-left: 5px;
                    font-size: 20px;
                }
            }
        }
    }

.contentFlexer{
    display: flex;
    justify-content: space-between;
    padding: 0rem 6rem;
    margin-bottom: 5rem;
    @media (max-width: 575.98px) {
        display: block !important;
        padding: 1rem;
        margin-bottom: 1rem;
    }
}

    .imageContainer{
        width: 55%;
        margin-top: 1rem;
        background :url("./../../../public/colloque.jpg");
        background-size :contain !important;
        background-position: left ;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        color: white ;
        flex-shrink: 0;
        height: 500px;

      
        h1{
            font-weight: 900;
            color: white;
            width: 70%;
          
        }
        p{
            text-align: center;
            width: 75%;
        }
    }
    .formContainer{
        width: 50%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: left !important;        
        padding: 1rem;
        background: white;
        padding-top: 2rem;
        padding-bottom: 0;
        padding-right: 0;
        margin-top: .7rem;
        justify-content: center !important;

        @media (max-width: 575.98px) { 
            padding-top: 0 !important;
            margin-top: 0 !important;
        }
      
        .socialMedia{
            width: 100%;
            margin-top: 1rem;
            .icone{
                margin-right: 10px;
                font-size: 2rem;
                cursor: pointer;
            }
        }
        h2{
            font-size: 1.3rem;
            margin: 0rem;
            text-align: left !important;
        }
        p{
            margin: 0;
            font-size: 12px;
            margin-top: 5px;
            width: 40%;
            text-align: left;
            @media (max-width: 575.98px) { 
                width: 50%;
            }

        }

        form{
            width: 100%;
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            overflow: hidden;
            padding-left: 0;
           
            .inputFlexer{
                @media (max-width: 575.98px) { 
                 div{
                    width: 49% !important;
                 }
                }
                display: flex;
            
                justify-content: space-between;
                margin: .5rem 0rem;
                    div{
                        width: 49%;
                        display: flex;
                        flex-direction: column;
       
                        input, select{
                            padding: .8rem;
                            background-color: #f3f4f6;
                            border: none;
                        }
                    }
                
            }
            .freeInput{
                margin: .2rem 0rem;
            
                input{
  
                    padding: .8rem;
                    background-color: #f3f4f6;
                    border: none;
                    &:focus{
                        outline: none !important;
                    }
                }
                textarea{
                    padding: .8rem;
                    margin-top: 1rem;
                    width: 100%;
                    min-height: 3rem;
                    background-color: #f3f4f6;
                    border: none;
                    width: 95% !important;
                    @media (max-width: 575.98px) { 
                        width: 92% !important;
                    }
                }
            }
        }

        button{
            padding: 1rem;
            background-color: #8E1F71;
            border: none;
            color: white;
            font-size: 1rem;
            cursor: pointer;
            margin-top: .3rem;

            display: flex;
            align-items: center;
            justify-content: center;
            @media (max-width: 575.98px) {
                width: 100%;
            }

            
        }

        button[disabled] {
            background-color: lightgray;
            color: gray;
            cursor: not-allowed;
            opacity: 0.7;
          }
    }
    @media (max-width: 575.98px) { 
        width: auto !important;
        flex-direction: column;
        .imageContainer{
            padding: 0 !important;
            min-height: 40vh !important;
            width: auto !important;
            background-position: center !important;
            h1{
                width: 90% !important;
            }

        }
        .formContainer{
            padding: 0rem 0rem!important;
            padding: 2rem  1rem!important;
            width: auto;
            padding-top: 0rem !important;
          
            .freeInput{
                input{
                    width: 100% !important;
                }
            }
            textarea{
                width: 100% !important;
            }
            form{
               padding: 0rem;
            }
        }
    }

}
.errorMessage{
    color: red;
    font-size: 10px;
    margin-left: 10px;
}
.inputError{
    border: red solid 1px !important;
    outline: red solid 1px !important;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

    .Dnone{
        display: none !important;
    }

  