.main{
    height: auto;
    background-color: #f3f4f6;
}


.contact{
    padding: 2rem 8rem;
    display: flex;
    justify-content: space-between;
    .textContent{
        width: 40%;

    .horaire{
        margin-top: 4rem;
    }
    }

    .formContainer{
        width: 50%;
        height: 80vh;
    
        margin-top: -10rem;
        background-color: #f3f4f6;
        border: rgba(0, 0, 0, 0.044) solid 1px;
        height: 80vh;
        h3{
            padding : 20px;
            height: 10%;
        }
        form {
            background-color: white;
            padding: 20px;
            height: 71.5%;
            .inputFlexer{
                display: flex;
                justify-content: space-between;
                margin: 1rem 0rem;
                input{
                    width: 46%;
                    background-color: #f3f4f6;
                    border: none;
                    padding: 15px 5px;
                }
                textarea{
                    width: 100%;
                    background-color: #f3f4f6;
                    border: none;
                    padding: 15px 5px;
                    height: 200px;
                }
            }

            button{
                background-color: #0089CF;
                border: none;
                width: 100%;
                color: white;
                padding: 1rem;
                font-weight: 500;
                cursor: pointer;
            }
        }
    }

    @media (max-width: 575.98px) {
        flex-direction: column-reverse;
        padding: .8rem;
        .textContent{
            width: 100%;
        }
        .formContainer{
            margin-top: 0;
            width: 100%;
            h3{
                margin-top: 0;
                margin-bottom: 2rem;
           
            }
        }
    }
}

.map{
    padding: 2rem 8rem;
    @media (max-width: 575.98px) {
        padding: 0;
    }
    iframe {
        border: none !important;
    }
}