.main{
    background-color: rgb(239, 234, 228);

    .bannerContainer{
        @media only screen and (min-width: 768px) and (max-width: 991px) {
            height: 30vh;
        }
        background-color: #0089cf;
        height: 45vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin-top: 7rem;
        color: white;

        h1{
            margin: 0;
            font-size: 3rem;
        }
        p{
            margin: 0;
            text-align: center;
        }
    }

    .subtitle{
        padding: 2rem 15rem;
        display: flex;
        flex-direction: column;

        @media only screen and (min-width: 768px) and (max-width: 991px) {
            padding: 2rem;
        }
        @media (max-width: 575.98px) {
            padding: 1rem;
        }

        .titleContainer{
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid black;
            padding-bottom: 1rem;
            align-items: center;
            h2{
                margin: 0;
            }
        }

        .backBtn{
            padding: .8rem 3rem;
            display: inline-block;
            background: transparent;
            border: 1px solid black;
            text-decoration: none;
            color: black;
        }

        .yearSection{
            margin-top: 2rem;
        }

        .yearHeader{
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid rgba(0, 0, 0, 0.15);
            padding-bottom: .6rem;
            margin-bottom: .8rem;

            h3{
                margin: 0;
            }
        }

        .monthSection{
            margin-bottom: 1.2rem;
        }

        .monthRow{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: white;
            border: 1px solid rgba(0, 0, 0, 0.12);
            padding: .7rem 1rem;
        }

        .monthName{
            font-weight: 700;
        }

        .monthCount{
            color: rgba(0, 0, 0, 0.6);
            font-size: .9rem;
        }

        .monthContent{
            padding: .6rem 0rem;
            display: flex;
            flex-direction: column;
        }
    }
}
