
.mainContainer {
    height: auto;
    min-height: 100vh;
    width: 100%;
  a{
    text-decoration: none !important;
  }

    .bannerContainer {
      display: flex;
      height: 100vh;
      position: relative ;
      @media (max-width: 575.98px) {
     overflow: hidden;
     height: 80vh;
     padding: 0 !important;
           }
      .carouselContainer {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        background-position: center;
        transition: background-image 1s ease-in-out;
        padding: 2rem;

  
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('/your-default-image.jpg');
        &.fade {
          animation: fadeEffect 1s ease-in-out;
        }
  
        .imageWrapper {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 1;
          width: 50%; 
          height: auto;
          bottom: 0 !important;
          img {
            width: 100%;
            height: auto;
          }
        }
  
        .carouselText {
          padding: 1rem 8rem;
          border-radius: 8px;
          color: #fff;
          z-index: 1;
          max-width: 60%;
          text-align: center;
          margin-top: 5rem !important;
      
            p{
              font-size: 2rem !important;
            }
          
          .highlight {
              background-color: #800080; 
              padding: 0.2rem 0.4rem;
            }
          p{
              font-size: 28px;
              font-weight: 600;
          }

          
          @media (max-width: 575.98px) {
            padding: 0 !important;
            width: 100% !important;
            max-width: 100% !important;
            font-size: 20px !important;
            margin-top: 10rem !important;
            p{
              font-size: 25px !important;
            }
          }

        }
      
      .prevButton,
      .nextButton {
        @media (max-width: 575.98px) {
          display: none;
        }
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        border: none;
        color: white;
        width: 50px;  /* Set fixed width */
        height: 50px; /* Set fixed height */
        font-size: 1.5rem; /* Adjusted font size */
        cursor: pointer;
        z-index: 2;
        border-radius: 50%; /* Ensures perfect circle */
        transition: background-color 0.3s ease;
  
        display: flex;
        align-items: center;
        justify-content: center;
  
        &:hover {
          background-color: rgba(0, 0, 0, 0.8);
        }
      }
  
      .prevButton {
        left: 10px;
      }
  
      .nextButton {
        right: 10px;
      }
    }
  
  
    .actuContainer {
      bottom: -35%; /* Centré verticalement */
      padding: 30px;
      background: white;
      width: 80%;
      position: absolute;
      
      left: 50%; /* Centré horizontalement */
      transform: translate(-50%, -50%); /* Ajuste pour être exactement au centre */
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      box-sizing: border-box;
      overflow: hidden;
      justify-content: space-between;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 

      h3 {
        margin-top: -8px !important;
        font-size: 14px;
      }
      @media (max-width: 575.98px) {
        flex-direction: column ;
        width: 100%;
        padding: 5px;
        top: 100%;
        display: none;
      }
    }
    .actuContainer > a {
      width: 30%;
      @media (max-width: 575.98px) {
        width: 100%;
      }
    }
    }
  }
  
  @keyframes fadeEffect {
    from {
      opacity: 1;
    }
    to {
      opacity: 0.5;
    }
  }
  
  .aboutUs {
    display: flex;
    height: 80vh;
    padding-top: 15rem;
    position: relative;
    padding-left: 4rem;
    padding-bottom: 4rem;

    @media (max-width: 575.98px) {
      flex-direction: column;
      height: auto;
      padding: 0;
   
    }
    .aboutCitation {
      float: right;
      padding-left: 5rem;
      @media (max-width: 575.98px) {
      padding: 0;
      .citationContainer{
        width: 100% !important;
      }
      }
    }

    .citationContainer {
      @media (max-width: 575.98px) {
        width: 100% !important;
        justify-content: flex-end;
        margin-top: 2rem;
        height: 60vh;
        .quoteContainer {
          height: 30%;
          width: 100%;

        }
      }
      width: 50%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      overflow: hidden;

      &.sliding {
        animation: slideLeft 1s cubic-bezier(0.6, 0, 0.2, 1) forwards;
      }

      .backgroundImage {
        position: absolute;
        top: 0;
        left: 0;
        width: 78% !important;
        height: 100%;
        z-index: 1;
        object-fit: cover;
        float: right;
        margin-left: 15%;
        
        @media (max-width: 575.98px) {
            margin-left: 0;
            width: 100% !important;
            transform: scaleX(-1); 
        }
    }

      .quoteContainer {
        position: relative;
        z-index: 2;
        background-color: #0089cf; /* Blue background color */
        color: white;
        padding: 1rem;
        margin-left: -4rem;
        text-align: left;
        max-width: 50%;
        @media (max-width: 575.98px) {
          background-color: #008acf57; /* Blue background color */
          width: 100%;
        /* border: red solid 2px; */
          box-sizing: border-box;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
        }
        .quoteIcon {
          font-size: 3rem;
          font-weight: bold;
          margin-bottom: 0.5rem;
        }

        .quoteText {
          font-size: 12px;
          margin-bottom: 0.5rem;
        }

        .authorName {
          font-weight: bold;
          margin-top: 0.5rem;
        }

        .authorTitle {
          font-size: 14px;
          font-style: italic;
          color: #ccc;
        }
      }
    }

    .aboutText {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-right: 5rem;
      a{
        text-decoration: none;
      }

      h1 {
        color: #67788e;
        font-size: 24px;
        padding-right: 0 2%;
      }

      h2 {
        font-weight: 500;
        color: #8E1F71;
        letter-spacing: 1px;
        padding-right: 0 2%;
        font-size: 20px;
      }

      p {
        font-size: 16px;
        color: #67788e;
        text-align: justify;
        padding-right: 0 2%;
      }
      button {
        background: #8E1F71;
        font-size: 15px;
        color: white;
        font-weight: 400;
        text-align: left;
        border: none;
        padding: 0%;
        width: fit-content;
        padding: 10px;
        display: flex;
        align-items: center;
        letter-spacing: 2px;
        cursor: pointer;
        margin-top: 1.5rem;
        .icone {
          font-size: 25px;
          margin-left: 10px;
        }
      }
      @media (max-width: 575.98px) {
        width: 95%;
        padding: 10px;
      }

    }
  }
  @keyframes slideLeft {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .genocostContainer{
    display: flex;;
    padding: 0rem 6rem;
    align-items: center;
    @media (max-width: 575.98px) {
      justify-content: flex-end !important;
      flex-direction: column-reverse;
      padding: 0rem .5rem;
    }
    .textContainer{
      width: 50%;
      @media (max-width: 575.98px) {
      width: 100%;
      margin-bottom: 1rem;
        }
      p{
        width: 90%;
        color: rgb(89, 89, 89);
        margin: .8rem 0rem;
        margin-bottom: 1rem;
        text-align: justify;
        color: #67788e;
        @media (max-width: 575.98px) {
          width: 98%;
   
        }
      }
      h2{
        color: #8E1F71;
        font-size: 20;
        font-weight: 500;
        letter-spacing: 1px;
 
      }
      h3{
        width: 70%;
        color : #67788E;
        @media (max-width: 575.98px) {
          width: 90%;
      
        }
      }
      button{
        padding: .8rem 1rem;
        background-color: #8E1F71;
        color: white;
        border: none;
        cursor: pointer;
        font-size: 15px;
        font-weight: 500;
        margin-top: 10px;
        display: flex;
        align-items: center;
        letter-spacing: 2px;
        .icone{
          font-size: 25px;
          margin-left: 5px;
        }
      }
    }
  
  }

  .flyerContainer{
    width: 50%;
    height: 600px;
    position: relative;
    @media (max-width: 575.98px) {
      width: 100%;
      margin-top: 1rem;
      height: 400px;
    }
     
    img{
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FBFBFB;
    padding-top: 3rem;
    padding-bottom: 3rem;
    @media (max-width: 575.98px) {
      padding-top: 1rem;
      h3{
        width: 80% !important;
      }
    }

    h2 {
      font-weight: 500;
      letter-spacing: 1px;
      color: #8E1F71;
      margin-bottom: 0;
    }
  
    h3 {
      width: 50%;
      text-align: center;
      color: #67788E;
    }
  
    .carousselContainer {
      display: flex;
      overflow: hidden;
      position: relative;
      width: 100%;
      margin: 2rem 0;
    }
  
    .carouselItem {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 500px; /* Ensure full height */
      margin:0px 5px; /* Spacing between items */
      padding: 0; /* Remove extra padding */
      cursor: pointer;
    }
  
    .imageWrapper {
      position: relative;
      width: 100%;
      height: 75%; /* Set to 75% for the image height */
    }
  
    .itemContent {
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
      color: white;
      padding: 1rem;
    h4, p {
        text-align: center;
        margin: 0;
      }
      h4{
        font-size: 12px;
      }
      p{
        font-size: 12px;
        font-weight: 400;
      }
    }
  
    /* Arrow buttons */
    .arrowLeft, .arrowRight {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: rgba(0, 0, 0, 0.7); /* Ensure the background is visible */
      color: white;
      border: none;
      cursor: pointer;
      z-index: 100; /* Increase z-index to make sure they appear on top */
      padding: 1rem;
      font-size: 2rem;
      border-radius: 50%; /* Makes the buttons circular */
      transition: background-color 0.3s ease;
    }
  
    /* Hover effect for arrows */
    .arrowLeft:hover, .arrowRight:hover {
      background-color: rgba(0, 0, 0, 0.9);
    }
  
    .arrowLeft {
      left: 10px; /* Position the left arrow */
    }
  
    .arrowRight {
      right: 10px; /* Position the right arrow */
    }
  }
  
  
  

.jumb{

  padding: 5rem 6rem;
  display: flex;
  @media (max-width: 575.98px) {
    padding: 0;
    flex-direction: column;
    padding: .5rem;
    }
  .bgCover{
    height: 25rem;
    width: 70%;
    background-image: url('/hommes.jpg');
    background-size: cover;
    @media (max-width: 575.98px) {
      width: 100%;
      padding: 0;
   }
  }
  .giftText{
    background-color: #0089cf;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    color: white;
    @media (max-width: 575.98px) {
    width: 100%;
    padding : 0rem;
    padding-bottom: 1rem;
}
    h2{
      margin-bottom: 0;
      @media (max-width: 575.98px) {
        margin-left: 5px;
    }
    }
     p {
      margin: 2rem 0rem;
      @media (max-width: 575.98px) {
        margin-left: 5px;
    }
     }
    button{
      @media (max-width: 575.98px) {
        margin-left: 5px;
    }
      width:fit-content;
      padding: 1rem 2rem;
      background-color: white;
      border: none;
      color: #0089cf;
      font-weight: 600;
      letter-spacing: 1px;
      cursor: pointer;
    }
  }
  // @media (max-width: 575.98px) {
  //       flex-direction: column;
  //       padding:0 ;
  // }

}
.actualites{
  padding: 2rem 6rem;
  background: #FBFBFB;
  @media (max-width: 575.98px) {
  padding: .5rem;
  overflow: hidden;
  padding-top: 1rem;

}
h3{
  @media (max-width: 575.98px) {
    width: 80% !important;
    margin-top: 1rem !important;
        }
}

.cardContainer > a{
        width: 24% !important;
        @media (max-width: 575.98px) {
        width: 99% !important;
              }
}
  .cardContainer{
    h3{
      width: 100%;
      font-weight: 600;
      font-size: 15px;

    }
  @media (max-width: 575.98px) {
    flex-direction: column !important;
    overflow: hidden !important;
    box-sizing: border-box;
    div{
      width: 99%;
    }
}

  }

  h2{

    font-size: 20px;
    color: #800080;
    font-weight: 500;
    letter-spacing: 1.5px;
    margin: 0;
  }
  h3{
    color: #67788E;
    font-size: 20px;
    width: 40%;
  }
  .cardContainer{
    display: flex;
    justify-content: space-between;
  }
}
.faq{
  padding: 2rem 6rem;
  background: #FBFBFB;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media (max-width: 575.98px) {
    padding: 1rem;
  }

  a{
    text-decoration: none;
  }
  button{
    padding: .8rem 1rem;
    background-color: #8E1F71;
    color: white;
    border: none;

    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    .icone{
      font-size: 25px;
      margin-left: 5px;
    }
  }
  h2{
    font-size: 20px;
    color: #8E1F71;
    font-weight: 500;
    letter-spacing: 1.5px;
    margin: 0;
    text-align: center;
  }
  h3{
    text-align: center;
    color: #67788E;
    font-size: 20px;
    margin: 0;

  }
  h4{
    font-size: 16px;
    color: rgb(63, 63, 63);
    font-weight: 600;
    margin: 0;
  }
}
.faqContainer{
  margin-top: 2rem;
  padding: 0rem 5rem;
  margin-bottom: 2rem;
  @media (max-width: 575.98px) {
    width: 100% ;
    padding: 0rem  !important;

        }
}
.alice-carousel__prev-btn{
  z-index: 1000 !important;

}
.closeButton{
  margin-bottom: 1rem;
}

// .videoContainer{
//   @media (max-width: 575.98px) {
// border: red solid 2px;
//         }
// }