@import "./../app/variables.module";
 .mainContainer, .mobileContainer {
    display: flex;
    flex-direction: column;
    z-index: 100;
    position: fixed;
    width: 100%;
    background-color: white;
    top: 0;
    border-bottom: rgb(225, 225, 225) solid 1px;
    box-shadow:  1px -40px 10px 34px #000;
    // border: red solid 2px;
    @media (max-width: 575.98px) { 
      align-items: center;
      nav{
        width: 100%;
        .logoContainer{
            width: 50%;
            margin-left: .6rem;
        }
        ul, div button{
            display: none !important;
        }
        li{
            margin : 5px 0px !important;
        }
        .icone{
            display: block !important;
            font-size: 3rem;
            color: black;
            margin-right: 1rem;
         }
      }
    }
    

    .socialMedia{
        display: flex;
        list-style: none ;
        padding: 0;
        flex-direction: row-reverse;
        margin: 0px;
        border-bottom: 1px solid rgb(220, 220, 220);
        padding: 0.5rem 8rem;
        font-size: 1.2rem;
        li {
            a {
                color: rgb(61, 61, 61);
                &:hover{
                    color: $blue_color;
                }
            }
            margin: 0px 8px;
            color: Ò;
        }
    }

    nav{
        padding: 0.6rem 8rem;
         .icone{
            display: none;
         }
        .logoContainer{
            display: flex;
            align-items: center;
            height: 80px;
            width: 200px;
            background: url('./../../public/logo-fonarev.png');
            background-size: contain;
            background-position: center center;
            background-clip: border-box;
            background-repeat: no-repeat;
         
            img {
                max-width: 100%;
                max-height: 100%;
                display: none;
            }
        }
        display: flex; 
        justify-content: space-between;
        align-items: center;
        ul {
            display: flex;
            list-style: none;
            justify-content: space-between;
            width: 48%;
            padding-left: 0;
            li {
                margin : 0px 10px;
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 600;
                cursor: pointer;
                a {
                    text-decoration: none;
                    color: black;
                }
               
            }
        }
        button {
            background-color: $move-color ;
            padding: 18px;
            color: white;
            border: none;
            letter-spacing: 2.5px;
            font-size: 13px;
            font-weight: bold;
            cursor: pointer;

        }
    }
 }
 .mobileContainer{
    .socialMedia{
        display: flex;
        list-style: none ;
        padding: 0;
        flex-direction: row-reverse;
        margin: 0px;
        border-bottom: 1px solid rgb(220, 220, 220);
        padding: 0.5rem 8rem;
        font-size: 1.2rem;
        li {
            a {
                color: rgb(61, 61, 61);
                &:hover{
                    color: $blue_color;
                }
            }
            margin: 0px 8px;
            color: Ò;
        }
    }

    nav{
        padding: 0.6rem 8rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
         .icone{
            display: none;
         }
        .logoContainer{
            display: flex;
            align-items: center;
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
        display: flex; 
        justify-content: space-between;
        align-items: center;
        ul {
            display: flex;
            list-style: none;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            padding-left: 0;
            li {
                margin : 0px 10px;
                text-transform: uppercase;
                font-size: 15px;
                font-weight: 600;
                cursor: pointer;
                a {
                    text-decoration: none;
                    color: black;
                }
               
            }
        }
        button {
            background-color: $move-color ;
            padding: 18px;
            color: white;
            border: none;
            letter-spacing: 2.5px;
            font-size: 13px;
            font-weight: bold;
            cursor: pointer;

        }
        ul, div button{
            display: block !important;
        }
        ul {
            display: flex !important;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        .icone{
            font-size: 2rem;
            margin: 20px 0px;
        }
    }
 }
 .dNone{
    @media (max-width: 575.98px) { 
        display: none;
    }
 }

 .hoverMenu, .active{
    &:hover{
        .secondaryMenu{
            display: flex !important;
            opacity: 1; 
            transition: all 300ms ease 0s;
      
         }
    }
 }
 .secondaryMenu{
    opacity: 0; 
    display: none !important;
    position: absolute;

    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    flex-direction: column;
    opacity: 0; 
    transition: all .3s ease-out 0s;
  
  
    a{
        border-bottom: .5px solid rgb(212, 212, 212);   
            font-size: .8rem  !important;
            padding: 1rem 3rem !important;
            &:hover{
                background-color: #8E1F71;
                transition: all .3s ease-out 0s;
                padding: 1rem 1rem;
                color: white !important;
             
            }
    }
 }
 .active{
    a {
        color: #8E1F71 !important;
        padding-bottom: 36px;
        border-bottom: 3px solid #8E1F71;
        font-weight: 700;
        @media (max-width: 575.98px) {
            border-bottom: none !important;
     }
    }
  
    small {
        a {
            color :black !important;
            border-bottom: .5px solid rgb(212, 212, 212);   
            font-weight: 500;
        }
    }
 }
 .iconeArrow{
    margin-left: 10px;
 }