.cardWrapper{
    width: 49%;
    height: auto;
    // margin: 0rem .rem;
    @media (max-width: 575.98px) { 
        width: 100% !important;
    }
    h3{
        font-size: 12px;
        color: black;
        font-weight: 600;
    }
    
    .imgWrapper{
        position: relative;
        // height: 80%;
        height: 160px;
        background: url('./../../public//kits.jpeg');
        background-position: center center;
        background-size: cover;
        width: 100% !important;
    }
    h4{
        position: absolute;
        bottom: 0;
        margin: 0;
        background: white;
        display: inline-block;
        padding: 5px 10px;
        font-weight: 400;
        color: black;
    }
}